interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/events
  response:
    body:
      string: '[{"id":"14625382169","type":"PushEvent","actor":{"id":96250464,"login":"bolividob","display_login":"bolividob","gravatar_id":"","url":"https://api.github.com/users/bolividob","avatar_url":"https://avatars.githubusercontent.com/u/96250464?"},"repo":{"id":1196782692,"name":"bolividob/bibkreyol-comments-data","url":"https://api.github.com/repos/bolividob/bibkreyol-comments-data"},"payload":{"repository_id":1196782692,"push_id":36914827132,"ref":"refs/heads/main","head":"401a6ffb7b7615f7660fe5def2864c7f9cd0f1cb","before":"4a7c040099d953a57d3444ab3b207969506f211f"},"public":true,"created_at":"2026-07-09T13:20:27Z"},{"id":"14625382260","type":"PushEvent","actor":{"id":298946461,"login":"egwww72r5w79","display_login":"egwww72r5w79","gravatar_id":"","url":"https://api.github.com/users/egwww72r5w79","avatar_url":"https://avatars.githubusercontent.com/u/298946461?"},"repo":{"id":1295246574,"name":"egwww72r5w79/ghrcwq","url":"https://api.github.com/repos/egwww72r5w79/ghrcwq"},"payload":{"repository_id":1295246574,"push_id":36914827131,"ref":"refs/heads/main","head":"431270d8b91d4e1bbafa4d[...]
